@use "../../variables.scss" as *;

.reset-password-page {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  .reset-password-logo {
    top: 0rem;
    font-size: $font-size-34 !important;
    font-weight: bold !important;
    color: $primary-purple;
    text-align: center;
    z-index: 10;
    // padding-top: $space40;
    margin: $space20 0;

    @include breakpoints(xs) {
      margin: $space10 0;
    }

    @include breakpoints(sm) {
      margin: $space10 0;
    }

    @include breakpoints(md) {
      margin: $space20 0;
    }
  }

  .reset-password-card {
    background: #fff;
    border-radius: 16px;
    padding: $space36;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 511px;

    @include breakpoints(xs) {
      max-width: 285px;
      padding: $space16;
      margin: 4.25rem 0 $space8 0;
      z-index: 1;
    }

    @include breakpoints(sm) {
      min-width: 330px;
      padding: $space16;
      margin-top: $space0;
      margin-bottom: $space20;
      z-index: 1;
    }

    @include breakpoints(md) {
      min-width: 480px;
      padding: $space36;
    }

    .reset-password-title {
      font-size: $font-size-24;
      font-weight: $font-bold !important;
      margin-bottom: $space8;
      color: $text-color;

      @include breakpoints(xs) {
        font-size: $font-size-14;
        margin-bottom: $space2;
      }

      @include breakpoints(sm) {
        font-size: $font-size-18;
        margin-bottom: $space4;
      }

      @include breakpoints(md) {
        font-size: $font-size-20;
      margin-bottom: $space16;

      }

      @include breakpoints(lg) {
      margin-bottom: $space24;
      }
    }

    .reset-password-subtitle {
      font-size: $font-size-12;
      color: #3a3644;
      margin-bottom: $space24;

      @include breakpoints(xs) {
        font-size: $font-size-10;
        margin-bottom: $space6;
      }

      @include breakpoints(sm) {
        font-size: $font-size-10;
        margin-bottom: $space8;
      }

      @include breakpoints(md) {
        font-size: $font-size-11;
      }
    }
  }
}