@use "../../variables.scss" as *;

.signup-page {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  .signup-logo {
    font-size: $font-size-34 !important;
    font-weight: bold !important;
    color: $primary-purple;
    text-align: center;
    z-index: 10;
    margin: $space20 0;

    @include breakpoints(xs) {
      margin: $space10 0;
    }

    @include breakpoints(sm) {
      margin: $space10 0;
    }

    @include breakpoints(md) {
      margin: $space20 0;
    }
  }

  .signup-card {
    background: #fff;
    border-radius: 16px;
    padding: $space36;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 511px;
    margin-bottom: $space20;

    @include breakpoints(xs) {
      min-width: 285px;
      padding: $space16;
      margin: $space8 0;
      z-index: 1;
    }

    @include breakpoints(sm) {
      min-width: 330px;
      padding: $space16;
      margin-top: $space0;
      margin-bottom: $space20;
      z-index: 1;
    }

    @include breakpoints(md) {
      min-width: 480px;
      padding: $space36;
    }

    .signup-title {
      font-size: $font-size-24;
      font-weight: $font-bold !important;
      margin-bottom: $space8;
      color: $text-color;

      @include breakpoints(xs) {
        font-size: $font-size-14;
        margin-bottom: $space2;
      }

      @include breakpoints(sm) {
        font-size: $font-size-18;
        margin-bottom: $space4;
      }

      @include breakpoints(md) {
        font-size: $font-size-20;
        margin-bottom: $space8;
      }
       @include breakpoints(lg) {
        margin-bottom: $space8;
      }
    }

    .signup-subtitle {
      font-size: $font-size-12;
      color: #3a3644;
      margin-bottom: $space24;

      @include breakpoints(xs) {
        font-size: $font-size-10;
        margin-bottom: $space6;
      }

      @include breakpoints(sm) {
        font-size: $font-size-10;
        margin-bottom: $space8;
      }

      @include breakpoints(md) {
        font-size: $font-size-12;
      }
         @include breakpoints(lg) {
        font-size: $font-size-12 !important;
        margin-bottom: $space24 !important;
      }
    }

    .signUp-footer {
      font-size: $font-size-16 !important;
      color: $text-color;
      margin-top: $space16;

      @include breakpoints(xs) {
        margin-top: $space4;
        font-size: $font-size-11 !important;
      }

      @include breakpoints(sm) {
        margin-top: $space8;
        font-size: $font-size-14 !important;
      }

      @include breakpoints(md) {
        margin-top: $space16;
        font-size: $font-size-16 !important;
      }
         @include breakpoints(lg) {
        margin-top: $space8;
      }

      .login-Link {
        color: $primary-purple;
        cursor: pointer;
        text-decoration: none;

        @include breakpoints(xs) {
          font-size: $font-size-10;
        }

        @include breakpoints(sm) {
          font-size: $font-size-12;
        }

        @include breakpoints(sm) {
          font-size: $font-size-14;
        }
      }
    }
        .google-login {
      margin-top: $space16;
      width: fit-content;
      align-items: center;
      justify-self: center;
      @include breakpoints(xs) {
        margin-top: $space4;
        max-width: 200px;
      }

      @include breakpoints(sm) {
        margin-top: $space16;
        max-width: 300px;
      }

      @include breakpoints(md) {
        margin-top: $space16;
        max-width: 400px;
      }
    }
  }
}
